<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant3"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="primary" [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant3"></yv-cluster-button>

<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant1"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="secondary" [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant1"></yv-cluster-button>

<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=true [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant1"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="tertiany" [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant1"></yv-cluster-button>

<br>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [disabled]="true" [icon]="'fa-solid fa-arrow-left'" [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="primary" [isBig]=false [disabled]="true" [icon]="'fa-solid fa-arrow-left'"  [iconProperty]="variant2"></yv-cluster-button>

<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true  [disabled]="true" [icon]="'fa-solid fa-arrow-left'"  [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="secondary" [isBig]=false  [disabled]="true" [icon]="'fa-solid fa-arrow-left'"  [iconProperty]="variant2"></yv-cluster-button>

<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=true  [disabled]="true" [icon]="'fa-solid fa-arrow-left'"  [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (click)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=false  [disabled]="true" [icon]="'fa-solid fa-arrow-left'"  [iconProperty]="variant2"></yv-cluster-button>
<br>

<yv-cluster-basic-square-icon-button [icon]="image"></yv-cluster-basic-square-icon-button>
<yv-cluster-basic-square-icon-button [icon]="list"></yv-cluster-basic-square-icon-button>

<yv-cluster-compare-modal-button [clusterNumber]="212142152"></yv-cluster-compare-modal-button>