
$blue-button-background-color: var(--blue-button-background-color);
$blue-button-border-color:var(--blue-button-border-color);
$basic-white:var(--basic-white);
$basic-white-background:var(--basic-white-background);
$keyboard-background:var(--keyboard-background);
$keyboard-background-button:var(--keyboard-background-button);
$basic-black:var(--basic-black);
$light-text-50-percent:var(--light-text-50-percent);
$light-text-67-percent:var(--light-text-67-percent);
$basic-gray:var(--basic-gray);
$light-gray:var(--light-gray);
$dark-gray:var(--dark-gray);
$dark-blue:var(--dark-blue);
$icon-light-blue:var(--icon-light-blue);
$dark-blue-text:var(--dark-blue-text);
$outline-gray:var(--outline-gray);
$payment-error:var(--payment-error);
$payment-method-background:var(--payment-method-background);
