// // @import "src/styles.scss";
.btn {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  cursor: pointer;
}

.primary {
  border-radius: var(--Border-radius-small, 0.25rem);
  border: 1px solid #1334B9;
  background: #1334B9;
  color: var(--main-on-primery, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  &:hover {
    border-radius: var(--Border-radius-small, 4px);
    border: 1px solid #1334B9;
    background: #1334B9;
  }
  &:disabled {
    color: var(--C4C7C5, #C4C7C5);
    border-radius: var(--Border-radius-small, 4px);
    border: 1px solid var(--main-surf-desabled-container, #F0F2F4);
    background: var(--main-surf-desabled-container, #F0F2F4);
  }
}

.secondary {
  color: var(--Primery, #1334B9);
  display: inline-flex;
  height: var(--Layout-10, 40px);
  padding: var(--Layout-x-large, 16px) var(--Layout-2x-large, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--Layout-medium, 8px);
  flex-shrink: 0;
  border-radius: var(--Border-radius-small, 4px);
  border: 1px solid #A1AEE3;
  background-color:white;

  &:hover {
    border-radius: var(--Border-radius-small, 4px);
    border: 1px solid #A1AEE3;
    background: #E7EBF8;
  }

  &:disabled {
    color: var(--C4C7C5, #C4C7C5);
    border: 1px solid var(--main-on-desabled, #A5B1C0);
    background: var(--main-surf-desabled-container, #ffffff);
  }

}

.tertiary {
  border: 0px solid #1334B9;
  color: var(--Primery, #1334B9);
  background-color:white;

  &:hover {
    border-radius: var(--Border-radius-small, 4px);
    // border: 1px solid #E7EBF8;
    background: #E7EBF8;
  }

  &:active {
    border-radius: var(--Border-radius-small, 4px);
    border: 1px solid #E7EBF8;
    background: #E7EBF8;
  }
  &:disabled {
    color: var(--C4C7C5, #C4C7C5);
    border: 1px solid var(--main-on-desabled, #ffffff);
    background: var(--main-surf-desabled-container, #ffffff);
  }
}

.big-btn {
display: inline-flex;
height: var(--Layout-10, 40px);
padding: var(--Layout-x-large, 16px) var(--Layout-2x-large, 24px);
justify-content: center;
align-items: center;
gap: var(--Layout-medium, 8px);
flex-shrink: 0;
}
.small-btn {
  display: inline-flex;
  height: var(--Layout-09, 36px);
  padding: 6px var(--Layout-x-large, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Layout-medium, 8px);
  flex-shrink: 0;
}
.icon{
font-family: "Font Awesome 6 Pro";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.variant1{
  color: var(--Primery, #1334B9);
}
.variant2{
  color: var(--main-on-desabled, #A5B1C0);
}
.variant3{
  color: var(--main-on-desabled, #ffffff);
}
