@import "./styles/colors.scss";
@import "./styles/images.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
<<<<<<< HEAD
//@import '~@fortawesome/fontawesome-free/css/all.css';
=======
@import '~@fortawesome/fontawesome-free/css/all.css';
>>>>>>> 6af9115a6ed1f55ebca487e33fd735214afeaf94


html,
body {
  height: 100%;
}

@font-face {
  font-family: Assistant;
  src: url('../src/assets/fonts/Assistant.ttf');
}

body {
  margin: 0;
  font-family: Assistant;
}
